*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-height: 12vh;
    min-width: 100%;
    z-index: 50000;
    background: linear-gradient(100deg,#2980b9, #651288);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    
  }

  .header .container h1{
    font-family: 'Poppins', sans-serif;
    font-size: 51px;
    font-weight: 20;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    padding-top: 50vh;
  }
  
  .header .navigation .logo{
    margin-left: 50px;
  }
  
  .header .navigation .logo h1{
    color: #b1d4e0;
    font-size: 30px;
    line-height: 38px;
  }
  
  .header .navigation .menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: auto 20px auto 0;
  }
  
  .header .navigation .humbarger {
    margin-right: 20px;
    display: none;
   }
   
  .header .navigation .humbarger .bar{
    width: 30px;
    height: 2px;
    margin: 7px;
    background: #ffff;
   }
  
  .header .navigation .menu-list li a {
    color: #ffff;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 1s ease, border 1s ease;
    text-decoration: none;
  }




/* Hover effect */
.active-ham{
    position: relative;
    font-size: 30px;
  }
  
  
  .active-ham::after{
    content: '';
    background: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    left: 40%;
    /* transform: translateX(0%); */
    bottom: -5px;
    border-radius: 2px;
    transition: 0.5s;
  }
  
  .active-ham:hover::after{
      left: 0;
      width: 100%;
  }
  
  
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #top{	
      float: right;
    }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 2vh;
    left: 160vh;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 2vh;
    left: 160vh;
    border-radius: 7px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: #651288;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Line Purple */
  .menu-wrap .hamburger#purple > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #651288;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    padding: 2rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  

.logo{
    width: 200px;
    margin-left: -55vh;
    cursor: pointer;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    /* navigation word-spacing */
    margin: 10px 50px 0px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
}

.login-btn{
    background: #651288;
    color: rgb(6, 6, 6);
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.register-btn{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    
}



.register-btn{
    border: 2px solid;
    background: #fff;
    border-radius: 25px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
.register-btn:hover{
    border-color: #2691d9;
    transition: .5s;
}

.login-btn{
    border: 2px solid;
    background: #fff;
    border-radius: 25px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
.login-btn:hover{
    border-color: #2691d9;
    transition: .5s;
}

.container{
    padding: 0 7%;
}

.header h5{
    font-size: 4vw;
    font-weight: 500;
    color: #000;
    text-align: center;
    padding-top: -22%;
}

.content img{
    width: 100%;
    height: 20%;
    opacity: 0.8;
}

.text{
    position: absolute;
     top: 50%;
    left: 52%;
    color: #000;
  transform: translate(-50%, -50%);
  font-size: large;
  
}

button{
    background-color: #651288;
    color: #fff;
    margin-left: 40%;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;

}

button:hover{
    transform: scale(1.1);
    background-color: transparent;
    border: 2px solid #651288;
    transition: .4s;
    cursor: pointer;
}

.search-bar{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;  
}

.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.search-bar form button{
    background: linear-gradient(100deg,#2980b9, #651288);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}

.location-input{
    flex: 0.5;
}

.guest{
    flex: 0.5;
}

.dates{
    flex: 0.5;
}

.search-bar form label{
    font-weight: 600;
}


/* -----------footer---------- */
.footer{

    margin: 80px 0 10px;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p{
    padding-bottom: 15px;
}

 
  /* ====================
    Responsive Section
  =======================*/
  
  /* Tablet desktop :768px. */
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {

    .container{
        padding: 0 7%;
    }
    
    .header h5{
        font-size: 4vw;
        font-weight: 500;
        color: rgb(15, 14, 14);
        text-align: center;
        padding-top: -22%;
    }
    
    .content img{
        width: 100%;
        height: 30%;
        opacity: 0.7;
    }
    
    .text{
        position: absolute;
         top: 40%;
        left: 50%;
      transform: translate(-50%, -50%);
      font-size: medium;
    }
    
    button{
        background-color: #6e14dd;
        color: #fff;
        margin-left: 40%;
        border: 2px solid transparent;
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 30px;
        font-size: medium;
        font-weight: bold;
    
    }

    .header .navigation .menu-list {
      width: 60%;
    }
  
    .header .navigation .menu-list li a{
      font-size: 1rem;
    }
  
  }
  
  /* Large Mobile :480px. */
  
  @media only screen and (max-width: 767px) {

    .container{
        padding: 0 7%;
    }
    
    .header h5{
        font-size: 4vw;
        font-weight: 500;
        color: rgb(15, 14, 14);
        text-align: center;
        padding-top: -22%;
    }
    
    .content img{
        width: 100%;
        height: 30%;
        opacity: 0.7;
    }
    
    .text{
        position: absolute;
         top: 35%;
        left: 50%;
      transform: translate(-50%, -50%);
      font-size: small;
    }
    
    button{
        background-color: #dd1414;
        color: #fff;
        margin-left: 40%;
        border: 2px solid transparent;
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 30px;
        font-size: small;
        font-weight: bold;
    
    }
  
    .header .navigation .menu-list {
      position: absolute;
      top: 12vh;
      min-width: 100%;
    background: linear-gradient(100deg,#2980b9, #651288);
      text-align: center;
      display: none;
    }
  
    .header .navigation .menu-list li {
      display: block;
    }
  
    .header .navigation .menu-list li a {
      display: block;
      padding: 20px;
      transition: color 1s ease, padding 1s ease, background-color 1s ease;
  
    }
  
    .header .navigation .menu-list li a:hover{
      color: #b1d4e0;
      padding-left: 30px;
      background: rgba(177, 212, 224, 0.2);
    }
  
  
    .header .navigation .humbarger{
      display: block;
    }
  
    
    .active-ham:hover::after{
        left: 0;
        width: 0;
    }
  
  }