@import url('https://fonts.googleapis.com/css?family=Poppins: wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


  
.header .navigation {
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-height: 12vh;
    min-width: 100%;
    z-index: 5000;
    /* background: #fff; */
    background: linear-gradient(100deg,#2980b9, #651288);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    
  }
  
  .header .navigation .logo{
    margin-left: 50px;
  }
  
  .header .navigation .logo h1{
    color: #b1d4e0;
    font-size: 20px;
    line-height: 38px;
  }
  
  .header .navigation .menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: auto 20px auto 0;
  }
  
  .header .navigation .humbarger {
    margin-right: 20px;
    display: none;
   }
   
  .header .navigation .humbarger .bar{
    width: 30px;
    height: 2px;
    margin: 7px;
    background: #ffff;
   }

   /* .header .navigation .humbarger .bar{
    width: 30px;
    height: 2px;
    margin: 7px;
    background: #0000;
   } */
  
  .header .navigation .menu-list li a {
    color: #ffff;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 1s ease, border 1s ease;
    text-decoration: none;
  }




/* Hover effect */
.active-ham{
    position: relative;
    font-size: 30px;
  }
  
  
  .active-ham::after{
    content: '';
    background: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    left: 40%;
    /* transform: translateX(0%); */
    bottom: -5px;
    border-radius: 2px;
    transition: 0.5s;
  }
  
  .active-ham:hover::after{
      left: 0;
      width: 100%;
  }
  

.logo{
    width: 200px;
    margin-left: -55vh;
    cursor: pointer;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    /* navigation word-spacing */
    margin: 10px 50px 0px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
}

.login-btn{
    background: #651288;
    color: rgb(6, 6, 6);
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.register-btn{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    
}



.register-btn{
    border: 2px solid;
    background: #fff;
    border-radius: 25px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
.register-btn:hover{
    border-color: #2691d9;
    transition: .5s;
}

.login-btn{
    border: 2px solid;
    background: #fff;
    border-radius: 25px;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
.login-btn:hover{
    border-color: #2691d9;
    transition: .5s;
}

/* END OF NAVIGATION STYLES */

/* ====================
    Responsive Section
  =======================*/
  
  /* Tablet desktop :768px. */
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .navigation .menu-list {
      width: 60%;
    }
  
    .header .navigation .menu-list li a{
      font-size: 1rem;
    }

  
  }
  
  /* Large Mobile :480px. */
  
  @media only screen and (max-width: 767px) {
  
    .header .navigation .menu-list {
      position: absolute;
      top: 12vh;
      min-width: 100%;
    background: linear-gradient(100deg,#2980b9, #651288);
      text-align: center;
      display: none;
    }
  
    .header .navigation .menu-list li {
      display: block;
    }

    .active-ham:hover::after{
      left: 0;
      width: 0%;
  }
  
    .header .navigation .menu-list li a {
      display: block;
      padding: 20px;
      transition: color 1s ease, padding 1s ease, background-color 1s ease;
  
    }
  
    .header .navigation .menu-list li a:hover{
      color: #b1d4e0;
      padding-left: 30px;
      background: rgba(177, 212, 224, 0.2);
    }
  
  
    .header .navigation .humbarger{
      display: block;
    }
    
    .header .active-ham{
      display: none;
    }
  
  }

body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(500deg,#2980b9, #651288);
    
}

.wrapper{
    width: 720px;
    background: #fff;
    border-radius: 5px;
}

.wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #bfbfbf;
}

.wrapper form{
    margin: 35px 30px;
}

form .dbl-field{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;
}

.dbl-field .field{
    height: 50px;
    position: relative;
    width: calc(100% / 2 - 13px);
} 

form .field input,
form .message textarea
{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border-bottom: 1px solid #bfbfbf;

}

form .field input::placeholder,
form .message textarea::placeholder{
    color: #bfbfbf;
}

form .field input:focus,
form .message textarea:focus{
    border: 2px solid #0D6EFD;
}
.wrapper form i{
    position: absolute;
    left: 18px;
    top: 50%;
    color: #bfbfbf;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

form .field input:focus ~ i{
    color: #0D6EFD;
}

form .message{
    position: relative;
}

form .message i{
   top: 20px;
   font-size: 20px;
}

form .message textarea{
    min-height: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 300px;
    padding: 15px 20px 0 48px;
}

form .button-area{
     margin: 25px 0;
     display: flex;
     align-items: center;
}

.button-area button{
    font-size: 18px;
    border: none;
    color: #fff;
    border-radius: 8px;
    background: #0D6EFD;
    cursor: pointer;
    padding: 13px 25px;
}

.button-area span{
    color: #0D6EFD;
    margin-left: 30px;
    display: none;
}


@media(max-width: 900px){
    .wrapper header{
        text-align: center;
    }
    
}

@media(max-width: 600px){

    .wrapper{
        margin-top: 12vh;
    }

   form .dbl-field{
    margin-bottom: 0px;
    flex-direction: column;
    }

    .dbl-field .field{
        width: 100%;
        margin-bottom: 20px;
    }

    form .message textarea{
        resize: none;
    }

    .button-area button{
        width: 100%;
    }

    .button-area span{
        text-align: center;
        margin-right: 20px 0;
    }



}