body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(100deg,#2980b9, #651288);
    height: 100vh;
    overflow: hidden;
}

/* Make the form aligned center */
.container{
    position: absolute;
    /* padding-top: 12vh; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

/* header center */
.container h1{
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 36px;
    border-bottom: 1px solid silver;
}

/* padding to form */
.container form{
    padding: 0 40px;
    box-sizing: border-box;
}

/* align input boxes */
form .input-box{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 12px;
    border: none;
    background: none;
    outline: none;
}

/* transition to label */
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 15px;
    pointer-events: none;
    transition: .5s;
}

/* transition to span  */
.input-box span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.input-box input:focus ~ span::before,
.input-box input:valid ~ span::before{
    width: 100%;
}

.pass a{
    margin: -5px 0 0 5px;
    color: #adadad;
    font-size: 15px;
    text-decoration: none;
}

.pass a:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}

.register-btn{
    border: 2px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
.register-btn:hover{
    border-color: #2691d9;
    transition: .5s;
}

.login-btn{
    border: 2px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
.login-btn:hover{
    border-color: #2691d9;
    transition: .5s;
}

.text{
    margin: 30px 0;
    text-align: center;
    font-size: 15px;
    color: #666666;
}

.text a{
    color: #2691d9;
    text-decoration: none;
}

.text a:hover{
    text-decoration: underline;
}

/* Navigation bar */

nav{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    padding: 20px 7%;
    font-size: 0;
    /* background-color: lightblue; */
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    z-index: 1;
}
nav a{
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(228, 223, 223);
    text-decoration: none;
    line-height: 25px;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.nav-links .active{
    position: relative;
    color: rgb(230, 225, 225);
    text-decoration: none;
    padding: 7px 0;
    font-weight: bold;
}

/* .nav-links .active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background: var(--white);
    transition: 0.5s;
}

.nav-links .active:hover::after{
    left: 0;
    width: 100%; */
/* } */

/* Hover effect */
.active{
    position: relative;
}

.active::after{
    content: '';
    /* change color of hover effect */
    background: #651288;
    width: 0;
    height: 2px;
    position: absolute;
    left: 40%;
    /* transform: translateX(0%); */
    bottom: -5px;
    border-radius: 2px;
    transition: 0.5s;
}

.active:hover::after{
    left: 0;
    width: 100%;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
}

.register-btn{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    
}

.login-btn{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

